{% extends 'base.html.twig' %}

{% block content %}
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Gestion des clients<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
            <div class="heading-elements">
                <a href="{{ path('fuelreconciliation_search') }}" class="btn btn-primary btn-xs "><b><i class="icon-home"></i></b> Go To Home Page ></a>
            </div>
        </div>

        
    </div>
{% endblock %}
